%h1 Browsing Recipes
#flash= flash[:notice]
#recipeIndex
  #userRecipes
    %h2 Your Recipes
    - @user_recipes.each do |r|
      %li= link_to r.title, r
  #otherRecipes
    %h2 Other Recipes
    - @other_recipes.each do |r|
      %li= link_to r.title, r      