// variables ******************************************************************
!accentColor = #FA6900
!backgroundColor = #69D2E7
!black = #333
!gray = #999

// mixins *********************************************************************


// general structure and typography *******************************************

html
  :font-family Trebuchet MS, Arial, sans-serif
  :height 100%
  :width 100%
  color = !black

body
  background-color = !backgroundColor
  :min-height 100%
  :width 100%

p
  :margin 15px 0px
  :font-family Arial, Helvetica, sans-serif
  :font-size 11px
  
a
  :text-decoration none
  color = !black
  &:hover
    color = !gray
    

#outerWrapper
  :width 900px
  :padding 30px 0
  :margin auto

#borderWrapper
  :width 900px
  :margin 0px auto
  :padding 5px
  :background-color #E0E4CC
  :border 5px solid #A7DBD8
  
#innerWrapper
  :width 830px
  :margin 0px auto
  :padding 10px 35px
  :background-color #FFF

h1 
  :font-size 30px

.centered
  :text-align left
  :width 500px
  :margin auto
  :padding 30px
  :border 3px solid #E0E4CC
  :-webkit-border-radius 25px
  :-moz-border-radius 25px
  :background-color #F6F6F6
  
.utilityLink
  color = !accentColor


// header and nav  ************************************************************

#header
  :height 60px
  :width 100%
  :margin 10px 0 40px 0
  #logo
    :float left
    :height 50px
    :position relative
    :top -13px
    h1
      :font-size 63px
    #omg
      color = !accentColor
    #its
      :color #A7DBD8
    #food
      :color #69D2E7
    a 
      :text-decoration none
  #userStuff
    :float right
  #nav
    :float right
    :clear right
    :margin 20px 0
    a
      :text-decoration none
      color = !black
      :padding 5px
      :margin 0 5px
      &:hover
        color = !accentColor
      &:last-child
        :margin-right 0px
    a.navActive
      :color white
      background-color = !accentColor

#mainContent
  h1
    :text-align left
    :font-size 24px

#errorExplanation
  :border 3px solid red
  :width 500px
  :padding 20px
  :margin 20px 0
  :-webkit-border-radius 25px
  :-moz-border-radius 25px
  :background-color #facecf
  h2
    :text-decoration none
    :font-weight bold
    
// footer *********************************************************************
#footer
  :width 100%
  :text-align right
  :margin-top 20px
  :font-size 10px
  :font-weight bold
  :font-family Arial, Helvetica, sans-serif


// meals index ****************************************************************

#mealDays
  :margin 20px auto 0px
  :width 798px 

.mealDay
  :float left
  :width 200px
  :padding 20px
  :border 3px solid #E0E4CC
  :margin-right 30px
  :min-height 300px
  :-webkit-border-radius 25px
  :-moz-border-radius 25px
  :background-color #F6F6F6  
  .meal
    :margin 10px 0
    form
      :display inline
    div
      :display inline  
  h2
    :font-size 20px
    :margin-bottom 10px    
  h2.today
    color = !accentColor
    
// forms  
input, textarea
  :border
    :thickness 1px
    :style solid
    color = !gray

input[type=submit], .addMealLink
  :border 
    color = !accentColor 
    :width 2px 
    :style solid
  :margin 3px 0
  :padding 3px
  :-webkit-border-radius 5px
  :background-color #FFF
  &:hover
    :color #FFF
    background-color = !accentColor
    :cursor pointer

input[disabled]
  :border
    :thickness 2px
    :color gray
    :style solid
  &:hover
    :color gray
    :background-color #FFF
    :cursor default
  
.lastMealDay
  :margin-right 0

.clearDiv
  :clear both

#dateLinks
  :width 100%
  :height 30px
  :padding-top 20px
  .older
    :float left
    :width 370px
  .today
    :width 80px
    :height 30px
    :text-align center
    :margin auto
    :float left
  .newer
    :float right
    
// meals add ******************************************************************

#recipeForms
  :margin 40px 0 20px 0
  h2
    :font-size 20px
    :margin-bottom 15px 
  input, textarea
    :margin 0 0 10px 0
    :width 300px
  textarea
    :height 100px
  input[type=submit]
    :width auto
  label
    :margin 10px 0 0 0
  #recipePickerForm
    :padding-left 25px
    :float left
    :width 400px
    label
      :display block
    input[type=submit]
      :margin-top 20px
    select
      :margin-top 20px
      :width 300px
      :border 2px solid gray
  #recipeForm
    :border-right 1px black solid
    :float left
    :width 400px
    label
      :width 200px
      :display block
      
// meals view/edit*************************************************************
#viewMeal
  h3
    :margin 10px 0
    :text-decoration underline
  p
    :padding-left 30px
    :width 400px
#backLink
  :margin-top 20px
#meal_day
  :visibility hidden
  :width 0px
  :height 0px
#rescheduleLink
  :cursor pointer
h2
  :font-size 20px
h1
  :margin-bottom 20px

// recipes index **************************************************************
#recipeIndex
  :margin 40px 0 20px 0
  h2
    :font-size 20px
    :margin-bottom 15px 
  input, textarea
    :margin 0 0 10px 0
    :width 300px
  textarea
    :height 100px
  input[type=submit]
    :width auto
  label
    :margin 10px 0 0 0
  #userRecipes
    :border-right 1px black solid
    :float left
    :width 400px
    label
      :width 200px
      :display block
  #otherRecipes
    :padding-left 25px
    :float left
    :width 400px
    label
      :display block
    input[type=submit]
      :margin-top 20px
    select
      :margin-top 20px
      :width 300px
      :border 2px solid gray

// recipes view/edit **********************************************************

#editRecipeForm
  #recipeForms
    #recipeForm
      :border none
      input, textarea
        :width 400px
      input[type=submit]
        :width auto
      :float none
        
      

  