html {
  font-family: Trebuchet MS, Arial, sans-serif;
  height: 100%;
  width: 100%;
  color: #333333; }

body {
  background-color: #69d2e7;
  min-height: 100%;
  width: 100%; }

p {
  margin: 15px 0px; }

a {
  text-decoration: none;
  color: #333333; }
  a:hover {
    color: #999999; }

#outerWrapper {
  width: 900px;
  padding: 30px 0;
  margin: auto; }

#borderWrapper {
  width: 900px;
  margin: 0px auto;
  padding: 5px;
  background-color: #E0E4CC;
  border: 5px solid #A7DBD8; }

#innerWrapper {
  width: 830px;
  margin: 0px auto;
  padding: 10px 35px;
  background-color: #FFF; }

h1 {
  font-size: 30px; }

.centered {
  text-align: left;
  width: 500px;
  margin: auto;
  padding: 30px;
  border: 3px solid #E0E4CC;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: #F6F6F6; }

#header {
  height: 60px;
  width: 100%;
  margin: 10px 0 40px 0; }
  #header #logo {
    float: left;
    height: 50px;
    position: relative;
    top: -13px; }
    #header #logo h1 {
      font-size: 63px; }
    #header #logo #omg {
      color: #fa6900; }
    #header #logo #its {
      color: #A7DBD8; }
    #header #logo #food {
      color: #69D2E7; }
    #header #logo a {
      text-decoration: none; }
  #header #userStuff {
    float: right; }
  #header #nav {
    float: right;
    clear: right;
    margin: 20px 0; }
    #header #nav a {
      text-decoration: none;
      color: #333333;
      padding: 5px;
      margin: 0 5px; }
      #header #nav a:hover {
        color: white;
        background-color: #fa6900; }
      #header #nav a:last-child {
        margin-right: 0px; }

#mainContent h1 {
  text-align: left;
  font-size: 24px; }

#errorExplanation {
  border: 3px solid red;
  width: 500px;
  padding: 20px;
  margin: 20px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: #facecf; }
  #errorExplanation h2 {
    text-decoration: none;
    font-weight: bold; }

#mealDays {
  margin: 20px auto 0px;
  width: 798px; }

.mealDay {
  float: left;
  width: 200px;
  padding: 20px;
  border: 3px solid #E0E4CC;
  margin-right: 30px;
  min-height: 300px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: #F6F6F6; }
  .mealDay .meal {
    margin: 10px 0; }
    .mealDay .meal form {
      display: inline; }
    .mealDay .meal div {
      display: inline; }
  .mealDay h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .mealDay h2.today {
    text-decoration: underline; }

input, textarea {
  border-thickness: 1px;
  border-style: solid;
  border-color: #999999; }

input[type=submit] {
  border-thickness: 2px;
  border-color: #fa6900;
  border-style: solid;
  padding: 3px;
  -webkit-border-radius: 5px;
  background-color: #FFF; }
  input[type=submit]:hover {
    color: #FFF;
    background-color: #fa6900;
    cursor: pointer; }

input[disabled] {
  border-thickness: 2px;
  border-color: gray;
  border-style: solid; }
  input[disabled]:hover {
    color: gray;
    background-color: #FFF;
    cursor: default; }

.lastMealDay {
  margin-right: 0; }

.clearDiv {
  clear: both; }

#dateLinks {
  width: 100%;
  height: 30px;
  padding-top: 20px; }
  #dateLinks .older {
    float: left;
    width: 370px; }
  #dateLinks .today {
    width: 80px;
    height: 30px;
    text-align: center;
    margin: auto;
    float: left; }
  #dateLinks .newer {
    float: right; }

#recipeForms {
  margin: 40px 0 20px 0; }
  #recipeForms h2 {
    font-size: 20px;
    margin-bottom: 15px; }
  #recipeForms input, #recipeForms textarea {
    margin: 0 0 10px 0;
    width: 300px; }
  #recipeForms textarea {
    height: 100px; }
  #recipeForms input[type=submit] {
    width: auto; }
  #recipeForms label {
    margin: 10px 0 0 0; }
  #recipeForms #recipePickerForm {
    padding-left: 25px;
    float: left;
    width: 400px; }
    #recipeForms #recipePickerForm label {
      display: block; }
    #recipeForms #recipePickerForm input[type=submit] {
      margin-top: 20px; }
    #recipeForms #recipePickerForm select {
      margin-top: 20px;
      width: 300px;
      border: 2px solid gray; }
  #recipeForms #mealForm {
    border-right: 1px black solid;
    float: left;
    width: 400px; }
    #recipeForms #mealForm label {
      width: 200px;
      display: block; }

#viewMeal h3 {
  margin: 10px 0;
  text-decoration: underline; }
#viewMeal p {
  padding-left: 30px;
  width: 400px; }

#backLink {
  margin-top: 20px; }

#meal_day {
  visibility: hidden;
  width: 0px;
  height: 0px; }

#rescheduleLink {
  cursor: pointer; }

h2 {
  font-size: 20px; }

h1 {
  margin-bottom: 20px; }
