html {
  font-family: Trebuchet MS, Arial, sans-serif;
  height: 100%;
  width: 100%;
  color: #222; }

body {
  background-color: #69D2E7;
  min-height: 100%;
  width: 100%; }

p {
  margin: 15px 0px; }

#outerWrapper {
  width: 900px;
  padding: 30px 0;
  margin: auto; }

#borderWrapper {
  width: 900px;
  margin: 0px auto;
  padding: 5px;
  background-color: #E0E4CC;
  border: 5px solid #A7DBD8; }

#innerWrapper {
  width: 830px;
  margin: 0px auto;
  padding: 10px 35px;
  background-color: #FFF; }

h1 {
  font-size: 30px; }

.centered {
  text-align: left;
  width: 500px;
  margin: auto;
  padding: 30px;
  border: 3px solid #E0E4CC;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: #F6F6F6; }

#header {
  height: 50px;
  width: 100%; }
  #header #logo {
    float: left;
    height: 50px; }
    #header #logo #omg {
      color: #fa6900; }
    #header #logo #its {
      color: #A7DBD8; }
    #header #logo #food {
      color: #69D2E7; }
    #header #logo a {
      text-decoration: none; }
  #header #userStuff {
    float: right; }
  #header #nav {
    float: right;
    clear: right;
    margin: 20px 0; }
    #header #nav a {
      text-decoration: none;
      color: black;
      padding: 5px;
      margin: 0 5px; }
      #header #nav a:hover {
        color: white;
        background-color: #fa6900; }
      #header #nav a:last-child {
        margin-right: 0px; }

#mainContent h1 {
  text-align: left;
  font-size: 24px; }

#errorExplanation {
  border: 3px solid red;
  width: 500px;
  padding: 20px;
  margin: 20px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: #facecf; }
  #errorExplanation h2 {
    text-decoration: none;
    font-weight: bold; }

#mealDays {
  margin: 20px auto 0px;
  width: 798px; }

.mealDay {
  float: left;
  width: 200px;
  padding: 20px;
  border: 3px solid #E0E4CC;
  margin-right: 30px;
  min-height: 300px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: #F6F6F6; }
  .mealDay .meal {
    margin: 10px 0; }
    .mealDay .meal form {
      display: inline; }
    .mealDay .meal div {
      display: inline; }
  .mealDay h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .mealDay h2.today {
    text-decoration: underline; }
  .mealDay input {
    border-thickness: 2px;
    border-color: #fa6900;
    border-style: solid;
    padding: 3px;
    -webkit-border-radius: 5px;
    background-color: #FFF; }
    .mealDay input:hover {
      color: #FFF;
      background-color: #fa6900;
      cursor: pointer; }

.lastMealDay {
  margin-right: 0; }

.clearDiv {
  clear: both; }

#dateLinks {
  width: 100%;
  height: 30px;
  padding-top: 20px; }
  #dateLinks .older {
    float: left;
    width: 370px; }
  #dateLinks .today {
    width: 80px;
    height: 30px;
    text-align: center;
    margin: auto;
    float: left; }
  #dateLinks .newer {
    float: right; }
