#header
  #logo
    %h1
      %a(href="/")
        %span#omg> omg 
        %span#its> its
        %span#food food
  #userStuff
    - if logged_in?
      ='you are ' + current_user.username
      |
      = link_to "Log out", logout_path
    - else
      = link_to "Sign up", signup_path
  #nav
    = nav_link_to "plan meals", meals_path, "meals"
    = nav_link_to "manage recipes", recipes_path, "recipes"
    //= link_to "browse users", users_path
.clearDiv
  